@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font-family: "Poppins", sans-serif;
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container{
  max-width: 1382px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* nav */
.logo{
  margin-top: -5px;
}
.nav__flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.nav-ul {
  display: flex;
  column-gap: 40px;
}
.nav-link {
  font-size: 20px;
  color: #263238;
  text-decoration: none;
}
.nav-btn {
  margin-top: 4px;
  display: block;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  text-decoration: none;
  border: 2px solid #263238;
  border-radius: 5px;
  min-width: 220px;
  height: 70px;
  padding: 15px 55px;
  margin-right: 30px;
}
.nav-min{
  display: none;
}

@media screen and (max-width: 992px){
  .container{
    padding-left: 32px;
    padding-right: 1px;
  }
  .logo{
    margin-top: -8px;
    max-width: 89px;
  }
  .nav__flex-box {
    padding-top: 35px;

  }
  .nav-ul{
    column-gap: 30px;
  }
  .nav-link{
    font-size: 16px;
  }
  .nav-btn {
    margin-top: -9px;
    font-size: 18px;
    padding: 11px 39px;
    min-width: 160px;
    height: 50px;

  }
}
@media screen and (max-width: 767px){
  .nav-ul, .nav-btn{
    display: none;
  }
  .nav-min{
    display: block;
    padding-right: 19px;
  }
}
@media screen and (max-width: 575px){}
@media screen and (max-width: 320px){}
